site_name: EyeBench
docs_dir: .
theme:
  name: material
  features:
    - navigation.top
    - navigation.instant
    - navigation.tracking
  favicon: gfx/favicon.png
  icon:
    repo: fontawesome/brands/github
    logo: material/chart-bar

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - tables
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/EyeBench/

copyright: |
  &copy; 2025 <a href="https://github.com/EyeBench/" target="_blank" rel="noopener">EyeBench</a>
